<section id="banner">
        <div class="inner">
           <!-- One 
            <div class="logo"><span class="icon fa-lightbulb-o"></span></div>
            -->
            <img  id="mylogo" ng-src="images/cameoThinker.jpg">
            <h2 >Hello, I'm Cathy....</h2>
            <p >I came, I saw IBM i...an IT Specialist/RPG Programmer primarily working on IBM iSeries Systems (aka AS/400, Power System, System-i) who is also a web developer.</p>
        </div>
</section>

<!-- One -->
    <section id="one" class="wrapper spotlight style1">
        <div class="inner">
            <a href="#" class="image"><img src="images/me.JPG" alt="" /></a>
            <div class="content">
                <h2 class="major">This is who I am...</h2>
                <p>I'm based in Tampa Bay, FL. Apart from '400, I love learning new technology, building things, making them work and other creative stuff. </p>
                <ul>
                   <li> I'm responsible, professional and diligent.</li>
                   <li> I do whatever it takes to get the job done.</li>
                   <li> I quickly appraise and resolve problems.</li>
                 </ul>
                   
                <a href="#" class="special">Learn more</a>
            </div>
        </div>
    </section>


<!-- Four -->
    <section id="four" class="wrapper alt style1">
        <div class="inner">
            <h2 class="major">What I've Been Up To</h2>
            <p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>
            <section class="features">
                <article>
                    <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
                    <h3 class="major">Sed feugiat lorem</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
                    <a href="#" class="special">Learn more</a>
                </article>
                <article>
                    <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
                    <h3 class="major">Nisl placerat</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
                    <a href="#" class="special">Learn more</a>
                </article>
                <article>
                    <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
                    <h3 class="major">Ante fermentum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
                    <a href="#" class="special">Learn more</a>
                </article>
                <article>
                    <a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
                    <h3 class="major">Fusce consequat</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
                    <a href="#" class="special">Learn more</a>
                </article>
            </section>
            <ul class="actions">
                <li><a href="#" class="button">Browse All</a></li>
            </ul>
        </div>
    </section>