<!-- Header -->
<header id="header" class="alt">
  <h1><a href="index.html">Solid State</a></h1>
        <nav>
            <a href="#menu" ng-click='toggleMenu()'>Menu</a>
        </nav>
</header>


<div id="overlay" class='hidden'>

</div>

<!-- Menu -->
<div class="site-menu hidden">
    <h2>Menu</h2>
    <ul class="links">
        <li><a href="#/">Home</a></li>
        <li><a href="#/contact">Contact</a></li>
        <li><a href="#/about">About</a></li>
   </ul>
    <a href="#" class="close" ng-click="toggleMenu()">Close</a>
</div>
